.search-list-wrapper {
  width: 80%;
  margin: 5px;
  margin-left: 0px;
  border-radius: 3px;
}

.welcome {
  text-align: center;
}

.search-list-wrapper_users {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 5px;
  margin-left: 0px;
}
