.item-wrapper {
  margin: 10px;
  width: 21%;
}

.item-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn_item {
  height: 20px;
}

.item_img {
}
