.paginationWrapper {
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #fff;
  font-weight: 700;
  margin-left: 140px;
}

.paginationWrapper button {
  font-weight: 700;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  outline: none;
}

.paginationWrapper button.active {
  background-color: #3eafff;
  color: white;
}
